<!DOCTYPE html>
<html>

<head>
    <title>Angular navigation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.js"></script>
    <link rel="stylesheet" href="navi.css">

    <script>

        var myapp = angular
            .module("mainModule", ['ngRoute'])
            .config(function ($routeProvider) {
                $routeProvider

                    .when("/login", {
                        templateUrl: "login.html",
                        controller: "LoginController"
                    })

                    .when("/home", {
                        templateUrl: "home.html",
                        controller: "HomeController"
                    })
                    .otherwise({ redirectTo: '/login' });
            })
            .controller("LoginController", function ($scope, $location) {
                $scope.username = "";
                $scope.password = "";
                $scope.Login = function () {
                    if ($scope.username == "a" || $scope.password == "a") {
                        alert("SuccessFully Logged in")
                        $location.path("home");

                    }
                }
            })
            .controller("HomeController", function ($scope) {

                $scope.message = "Welcome to Fashion Factory!!! Choose Your Own Fashion";

            })

    </script>
</head>

<body ng-app="mainModule">

    <div class="navbar">
        <a class="navitem" href="#/home">Home</a>
        &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp
        <a class="navitem" href="#/login">Login</a>
    </div>


    <div ng-view></div>

    <script type="text/ng-template" id="home.html">
        <h1>Home</h1>
        <h2>{{ message }}</h2>
    </script>

    <script type="text/ng-template" id="login.html">
        <br><br>
        <table>
            <tbody>
                <tr>
                    <th>UserName:</th>
                    <th><input type="text" value="" ng-model="username" /></th>
                </tr>
                <tr>
                    <th>Password:</th>
                    <th><input type="password" value="" ng-model="password" /></th>
                </tr>
                <tr>
                    <th><button name="Submit" ng-click="Login()"> Submit</button>
                </tr>
            </tbody>
        </table>

    </script>
</body>

</html>
