 body{
    font-family: Helvetica, sans-serif;
    background-color: pink;
}


.navbar{
    text-align: center;
    background-color: hotpink;
}
.navitem{
    font-size:larger;
    text-decoration: none;
}
 .navitem:active{
    color: yellow;
    background-color: black;
}
