body
{
    background-color: aquamarine;
}

.navbar{
    list-style:none;
    background-color: black;
    padding: 10px;
}

.navitem{
    text-decoration: none;
    background-color: red;
    color: #fff;
    display: inline;
    padding: 10px;
}