<!DOCTYPE html>
<html>

<head>
    <title>Text editor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-app="myApp">
    <h1>Text editor</h1>
    <div ng-controller="myCtrl">
        <ul class="navbar">
            <li class="navitem"><button onClick="window.location.reload();">New File</button></li>
            <li class="navitem"><button value='Cut' ng-click=handleCut()>Cut</button></li>
            <li class="navitem"><button value='Copy' ng-click=handleCopy()>Copy</button></li>
            <li class="navitem"><button value='Paste' ng-click=handlePaste()>Paste</button></li>
            <li class="navitem"><button onclick="javascript:window.close()">Exit</button></li>
        </ul>
    </div>

    <form>
        <label>Select a file to load: &nbsp;</label>
        <input type="file" id="myfile" name="myfile"><br><br>
        <textarea name="content" id="mytext" cols="100" rows="35"></textarea>
    </form>


    <script type="text/javascript">
        document.getElementById('myfile').addEventListener('change', function () {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('mytext')
                    .textContent = fr.result;
            }
            fr.readAsText(this.files[0]);
        })

        angular.module('myApp', [])
            .controller('myCtrl', ['$scope', function ($scope) {
                $scope.handleCut = function () {
                    document.getElementById("mytext").select();
                    document.execCommand("cut");
                };
                $scope.handleCopy = function () {
                    document.getElementById("mytext").select();
                    document.execCommand("copy");
                };
                $scope.handlePaste = function () {
                    navigator.clipboard.readText()
                        .then(txt => {
                            document.getElementById("mytext").value = txt;
                        })
                        .catch(err => {
                            alert("Please allow clipboard access permission");
                        });
                };

            }]);





    </script>
</body>

</html>